war/src/main/resources/TransfusionServiceImpl_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.korusconsulting.ru">

	<xs:complexType name="PatientCredentials">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="lastName" type="xs:string" minOccurs="0" />
			<xs:element name="firstName" type="xs:string" minOccurs="0" />
			<xs:element name="middleName" type="xs:string" minOccurs="0" />
			<xs:element name="birth" type="xs:dateTime" minOccurs="0" />
			<xs:element name="bloodGroupId" type="xs:int" minOccurs="0" />
			<xs:element name="rhesusFactorId" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>