war/src/main/resources/TransfusionServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://korus.ru/tmis/ws/transfusion" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://korus.ru/tmis/ws/transfusion" name="TransfusionServiceImpl">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.korusconsulting.ru" schemaLocation="TransfusionServiceImpl_1.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://korus.ru/tmis/ws/transfusion" schemaLocation="TransfusionServiceImpl_2.xsd" />
		</xsd:schema>
	</types>
	<message name="setProcedureResult">
		<part name="parameters" element="tns:setProcedureResult" />
	</message>
	<message name="setProcedureResultResponse">
		<part name="parameters" element="tns:setProcedureResultResponse" />
	</message>
	<message name="setOrderIssueResult">
		<part name="parameters" element="tns:setOrderIssueResult" />
	</message>
	<message name="setOrderIssueResultResponse">
		<part name="parameters" element="tns:setOrderIssueResultResponse" />
	</message>
	<message name="getDivisions">
		<part name="parameters" element="tns:getDivisions" />
	</message>
	<message name="getDivisionsResponse">
		<part name="parameters" element="tns:getDivisionsResponse" />
	</message>
	<portType name="TransfusionService">
		<operation name="setProcedureResult">
			<input wsam:Action="http://korus.ru/tmis/ws/transfusion/TransfusionService/setProcedureResultRequest"
				message="tns:setProcedureResult" />
			<output wsam:Action="http://korus.ru/tmis/ws/transfusion/TransfusionService/setProcedureResultResponse"
				message="tns:setProcedureResultResponse" />
		</operation>
		<operation name="setOrderIssueResult">
			<input wsam:Action="http://korus.ru/tmis/ws/transfusion/TransfusionService/setOrderIssueResultRequest"
				message="tns:setOrderIssueResult" />
			<output wsam:Action="http://korus.ru/tmis/ws/transfusion/TransfusionService/setOrderIssueResultResponse"
				message="tns:setOrderIssueResultResponse" />
		</operation>
		<operation name="getDivisions">
			<input wsam:Action="http://korus.ru/tmis/ws/transfusion/TransfusionService/getDivisionsRequest"
				message="tns:getDivisions" />
			<output wsam:Action="http://korus.ru/tmis/ws/transfusion/TransfusionService/getDivisionsResponse"
				message="tns:getDivisionsResponse" />
		</operation>
	</portType>
	<binding name="portTransfusionBinding" type="tns:TransfusionService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="setProcedureResult">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="setOrderIssueResult">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getDivisions">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="TransfusionServiceImpl">
		<port name="portTransfusion" binding="tns:portTransfusionBinding">
			<soap:address location="http://ftmis-core2-node1.gfish.fccho-moscow.ru:8080/tmis-ws-transfusion/TransfusionServiceImpl" />
		</port>
	</service>
</definitions>